button {
  background-color: rgb(0, 0, 0, 0);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  border: blanchedalmond;
  border-style: solid;
  border-width: 0.1px;
  color: blanchedalmond;
  padding: 1em;
}

#tabs_div > button {
  background-color: rgb(75, 45, 0);
  font-size: 1.5em;
}

button:hover {
  background-color: rgb(70, 70, 70);
}

#tabs_div > .active_tab,
#tabs_div > .active_tab,
#tabs_div > .active_tab:focus {
  background-color: rgb(0, 0, 0, 0) !important;
  border-style: none;
  outline: none;
}

#tabs_div {
  display: flex;
}

#tabs_div button {
  flex-grow: 1;
}

.item-table {
  width: 100%;
}
tr {
  width: 100%;
}

#pick td:nth-child(1),
#pick td:nth-child(3) {
  width: 5%;
  text-align: center;
}

#pack .table tr td:nth-child(4) {
  width: 5%;
  text-align: center;
}

.item-table td:nth-child(2),
.item-table td:nth-child(1) {
  width: 5%;
  text-align: center;
}

.table td:nth-child(5) {
  width: 70%;
}

.table > tr > td {
  vertical-align: top;
  padding: 0.5em;
}

/* .item-table td:first-of-type {
  width: 80%;
} */

.table > tr:first-of-type {
  font-weight: bold;
  text-align: center;
}

.table > tr:first-of-type td {
  border: 1px solid black;
}
/* 
.item-table td {
  width: 20%;
} */

.table tr:nth-child(odd) {
  background-color: #3b3b3b;
}

.table .item-table tr:nth-child(even) {
  background-color: #525252;
}

.table .item-table tr:nth-child(odd) {
  background-color: #555555;
}

table {
  border: 1px solid black;
}

.picked {
  background-color: rgb(90, 74, 51);
  color: rgb(179, 179, 179);
}
.packed {
  background-color: rgb(94, 94, 94);
}

.table {
  display: none;
}

#pack_div {
  display: block;
}

#sync-products,
#sync-orders {
  background-color: rgb(255, 139, 139);
  /* font-size: 2em; */
}

.last-synced {
  font-size: 11px;
  color: rgb(116, 116, 116);
  display: inline-block;
}

.last-synced-info {
  display: inline-block;
  color: rgb(189, 189, 189);
}

#date_orders_synced {
  display: flex;
}

#ols {
  flex-grow: 1;
}

#pls {
  flex-grow: 1;
}

#no-data-message {
  padding: 1em;
  text-align: center;
  border-style: dotted;
}

/*from fb*/
body {
  background: #2b2b2b;
  color: rgba(221, 221, 221, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
#message {
  background: #555555;
  max-width: 360px;
  margin: 10px auto 10px;
  padding: 20px 80px 20px 80px;
  border-radius: 3px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: rgb(224, 224, 224);
  border: orange;
  border-style: solid;
}
#message img {
  display: block;
  /* width: 50px; */
  width: 15%;
}
